.profile-picture{
    border-radius: 50%;
    max-width: 260px;
    max-height: 350px;
    margin: 70px auto 0 auto;
    display: block;
    border-top: 2px solid #aaa;
}

body{
    background: url(assets/cup-of-coffee-1280537_1920.jpg) no-repeat fixed;
    background-size: cover;
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
}

.heading{
    background-color: #FAFAD2;
    margin: 140px 25vw 0 25vw;
    padding: 5vh 0;
    border-radius: 10px 10px 0 0;
    border-top: 3px solid #D8D8B0;
}

.skills h2, .projects h2, .work-experience h2, .hobbies h2, .see-more h2{
    text-decoration: underline;
    margin-bottom: 7vh;
}

.language {
    height: 20px;
    margin: 10px;
}

.language h4{
    margin: 0;
    text-align: right;
    padding: 0;
}

.language h5{
    padding-left: 10px;
    margin: 0;
    font-size: 11px;
    color: #333;
    text-align: left;
    top:9px;
}

.skills .bar{
    width: 40%;
    background-color: #eee;
    border-radius: 10px;
    padding: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.skills .bar .fill{
    position: relative;
    height: 100%;
    background-color: #FAFAD2;
    left: 0;
    border-radius: 10px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background: -webkit-linear-gradient(left, #836953 , #FAFAD2);
    background: -o-linear-gradient(left, #836953 , #FAFAD2);
    background: -moz-linear-gradient(left, #836953 , #FAFAD2);
    background: linear-gradient(to right, #836953 , #FAFAD2);
    background-size: 1500px 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.skills .bar .fill:hover{
    background-position: left;
    background-size: 600px;
}

.cpp .fill{
    width: 75%;
}

.cpp .fill:hover:after{
    content: "cout << \"Hello World\";";
    color: white;
}

.c .fill{
    width: 72%;
}

.c .fill:hover:after{
    content: "printf(\"Hello World\");";
    color: white;
}

.c-sharp .fill{
    width: 68%;
}

.c-sharp .fill:hover:after{
    content: "Console.WriteLine(\"Hello World!\");";
    color: white;
}

.html .fill{
    width: 72%;
}

.html .fill:hover:after{
    content: "<h1>Hello World</h1>";
    color: white;
}

.python .fill{
    width: 60%;
}

.python .fill:hover:after{
    content: "print(\"Hello World\")";
    color: white;
}

.javascript .fill{
    width: 60%;
}

.javascript .fill:hover:after{
    content: "console.log(\"Hello World\");";
    color: white;
}

.java .fill{
    width: 72%;
}

.java .fill:hover:after{
    content: "System.out.println(\"Hello World\");";
    color: white;
}

.assembly .fill{
    width: 40%;
}

.assembly .fill:hover:after{
    content: "...";
    color: white;
}

.verilog .fill{
    width: 38%
}

.verilog .fill:hover:after{
    content: "$display (\"Hello World\");";
    color: white;
}

.skills h4, .projects h4, .work-experience h4{
    color: saddlebrown;
}

.projects h5, .work-experience h5{
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.skills, .projects .project, .work-experience .job{
    margin-bottom: 4vh;
}

.projects .project li, .work-experience .job li{
    text-align: justify;
}

.project:nth-of-type(even), .job:nth-of-type(even){
    background-color: #FAFAD2;
    border-top: 3px solid #D8D8B0;
    border-radius: 8px;
    padding: 10px 0;
}

.work-experience a{
    color: #222;
}

.hobbies img{
    max-height: 5vw;
    max-width: 5vw;
    margin-bottom: 4vh;
}

.dark{
    opacity: 0.8;
}

.medium{
    opacity: 0.85;
}

.see-more img{
    max-height: 10vw;
    max-width: 10vw;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-profile-picture {
    transform: translateZ(-5px) scale(6);
}

.parallax-layer-heading {
    transform: translateZ(-1px) scale(2);
    margin-top: 210px;
    text-align: center;
}

.parallax-layer-main {
    transform: translateZ(0);
}

.background {
    background-color: white;
    margin: 490px 6vw 0 6vw;
    padding: 5vh 0 10vh 0;
	margin-bottom: 30vh;
    border-radius: 10px;
    border-top: 4px solid #aaa;
    text-align: center;
}

img {
    width: 100%;
}

html {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Slabo 27px', serif;
}

.navbar-right li{
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.navbar-right li:hover {
    background-color: #eee;
}

a:visited, a:target, a:hover, a:link, a:active{
    text-decoration: none;
}

.contact{
    text-align: center;
    background-color: #FAFAD2;
    margin: 20vh 25% 0 25%;
    padding: 5vh 0;
    border-radius: 10px 10px 10px 10px;
    border-top: 3px solid #D8D8B0;
}

.contact h3{
    margin-top: 0px;
    margin-bottom: 25px;
}

.contact .information p:first-of-type{
    margin-top: 8px;
    margin-bottom: 4px;
}

.contact .information{
    margin: 0;
    padding: 0;
}

.mobile {
    text-align: center;
    background-color: #FAFAD2;
    margin: 20vh 5vw 20vh 5vw;
    padding: 10vh 0;
    border-radius: 10px 10px 10px 10px;
    border-top: 3px solid #D8D8B0;
}

.mobile h2 {
    margin-bottom: 30px;
}

.mobile-nav{
    position: fixed;
    width: 100vw;
    top: 0;
    left:0;
    background-color: #FaFaFa;
    height: 65px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    padding-left: 3vh;
    z-index: 10;
}

.mobile .navbar-brand{
    color: #888;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.mobile-dropdown-button{
    float: right;
    height: 64px;
    width: 80px;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #ccc;
    border-right: none;
    color: #777;
    outline: none;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    padding: 0 5px 0 0;
}

.mobile-dropdown-button:hover{
    color: #000;
}

.mobile-dropdown-menu{
    background-color: #FaFaFa;
    position: fixed;
    top: 65px;
    width: 100vw;
    left: 0;
    padding: 0;
    display: none;
    z-index: 10;
}

.mobile-dropdown-menu a{
    display: block;
    color: #777;
    height: 65px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.mobile-dropdown-text{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.mobile-dropdown-menu a:hover{
    color: #000;
}

.mobile-project:nth-child(odd), .mobile-job:nth-child(even){
    background-color: white;
}

.mobile-header{
    height: 40vh;
}

.mobile-title{
    background-color: white;
    margin: 0 -2vw;
    border-top: 3px solid #eee;
    border-radius: 8px;
    height: 80px;
}

.mobile-language{
    float: left;
    text-align: right;
}

.mobile-language{
    width: 48%;
    display: inline-block;
    text-align: right;
    padding: 0 2% 0 0;
    margin: 0;
}

.mobile-experience{
    width: 48%;
    display: inline-block;
    text-align: left;
    padding: 0 0 2% 0;
    margin: 0;
}

.mobile-skill{
    margin: 20px 0;
    display: block;
}

.mobile-item{
    height: 550px;
    padding: 20px 10vw;
}

.mobile-item-title{
    margin-bottom: 10vh;
}

.mobile-item-body{
    
}

.mobile-item-body ul{
    padding: 0;
}

.mobile-item-body li{
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 15px;
}

.mobile-hobbies{
    height: 100px;
    margin: 50px 0;
}

.mobile-hobbies img{
    max-height: 100px;
    max-width: 100px;
}

.mobile-see-more{
    margin: 100px 0;
}

.mobile-contact-me h3{
    margin-bottom: 50px;
}